In [1]:
import pandas as pd

df = pd.DataFrame( {'a':[10,20,30], 'b':[2, 4, 6]})

In [2]:
# 1. 함수 정의
def my_fun1(x):
    return x**2

def my_fun2(x, n):
    return x**n

In [3]:
# 2. apply 함수를 이용하여 모든 데이타에 각각 함수 적용하기
re1 = df['a'].apply(my_fun1)
print(re1)

re2 = df['b'].apply(my_fun2, n=4)
print(re2)

0    100
1    400
2    900
Name: a, dtype: int64
0      16
1     256
2    1296
Name: b, dtype: int64

In [3]:
# [연습] 데이타 프레임의 각 열 단위로 데이타의 합을 출력
def my_fun3(col):
    sum=0
    for i in col:
        sum += i
    return sum

    # *** 여기서 df가 my_fun3 함수의 인자 col로 컬럼단위로 들어간다는 것을 이해. ( 컬럼수 만큼 반복하여 )
re3 = df.apply(my_fun3) # axix=0 기본값
print(re3)

# 만일 행단위 단위로 데이타의 합을 출력
re4 = df.apply(my_fun3, axis=1)
print(re4)

a    60
b    12
dtype: int64
0    12
1    24
2    36
dtype: int64

람다표현식와 연결하면
- 더 읽기 편한가

In [7]:
# 'a' 컬럼의 값이 10 이하는 'C', 20 이하는  'B', 30 이하는 'A'를 지정하고자 할 때
def func(score):
    grade = ''
    if( score <= 10) : grade='C'
    elif(score <= 20) : grade='B'
    elif(score <= 30) : grade='A'
    return grade

#df['a'].apply(func)

# 람다표현식으로 작성하면
df['a'].apply(lambda x : func(x))

0    C
1    B
2    A
Name: a, dtype: object

## [연습]  고객의 결제정보에서 vip 선별

결재가 confirmed 된 상태이고 금액이 500원이상 구매한 고객들을 vip로 선별하고 그 외 고객들은 non-vip로 지정하여 grade 컬럼에 추가 저장한다.

In [1]:
import pandas as pd

# index_col : 지정한 컬럼을 Row Index로 사용한다.
customer = pd.read_csv('./data/customer.csv', index_col = "Name")

customer

            date  price      state
Name
Kang  2017-01-01    500  confirmed
Kim   2017-01-03    700  confirmed
Choi  2017-01-03    900  confirmed
Park  2017-01-05    800  confirmed
Lee   2017-01-07    500   canceled
Yoon  2017-01-09    700  confirmed
Jang  2017-01-09    600   canceled
Ko    2017-01-10    200   canceled

In [3]:
def find_level(amount):
    if amount >= 500:
        result = 'VIP'
    else:
        result = 'non-VIP'
    
    return result
    
customer["grade"] = customer["price"].apply(find_level)
customer

            date  price      state    grade
Name
Kang  2017-01-01    500  confirmed      VIP
Kim   2017-01-03    700  confirmed      VIP
Choi  2017-01-03    900  confirmed      VIP
Park  2017-01-05    800  confirmed      VIP
Lee   2017-01-07    500   canceled      VIP
Yoon  2017-01-09    700  confirmed      VIP
Jang  2017-01-09    600   canceled      VIP
Ko    2017-01-10    200   canceled  non-VIP