###  데이타 분석

데이타 -> 필터링 -> 정제 -> 시각화 -> 분석


### 데이타 필터링

분석에 필요한 데이타를 거르는 작업

# 고속버스 데이타셋에서 인사이트를 도출

[예] 

1. 우승고속에 대한 데이타 필터링(추출)

2. 경부선에서 총이용인원이 1000명 이상인 데이타 필터링(추출)

3. 그 외 데이타를 찾아내시오

In [4]:
import pandas as pd

df = pd.read_excel('data/고속버스.xlsx') 
       # sheetname='highway'  encoding='cp949' 추가 안해도 실행  
df.head()  # 상위 5개만 보임

   차종   선별 출발지   도착지     거리  총운행횟수  총이용인원   이용율
0  우등  88선  광주    울산  327.8    412   7283  63.1
1  고속  88선  광주    울산  327.8    145   3050  46.7
2  우등  88선  광주  울산신복  327.8    164    545  11.9
3  고속  88선  광주  울산신복  327.8     70    311   9.9
4  우등  88선  광주   동대구  219.3   1369  21873  57.1

[연습]