In [1]:
# Series 연산
# Series의 연산은 인덱스명으로 비교하여 연산 진행
from pandas import Series

s1 = Series([10, 15, 20], index=['일','이','삼'])
s2 = Series([2,4,6,8], index=['일','이','삼','사'])

In [2]:
s1

일    10
이    15
삼    20
dtype: int64

In [3]:
s2

일    2
이    4
삼    6
사    8
dtype: int64

In [4]:
s1 + 5

일    15
이    20
삼    25
dtype: int64

In [5]:
s1 + s2

사     NaN
삼    26.0
이    19.0
일    12.0
dtype: float64

In [7]:
s3 = Series([1,2,3],index=['1줄','2줄','3줄'])
s3

1줄    1
2줄    2
3줄    3
dtype: int64

In [8]:
# 인덱스로 비교하여 연산하기 때문에
# Number + NaN = NaN
s1 + s3

1줄   NaN
2줄   NaN
3줄   NaN
삼    NaN
이    NaN
일    NaN
dtype: float64

In [10]:
# DataFrame 연산

from pandas import DataFrame
import numpy as np

df1 = DataFrame(np.zeros((3,3), dtype='int32'), index=['one','two','three'])
df1

       0  1  2
one    0  0  0
two    0  0  0
three  0  0  0

In [13]:
df2 = df1 + 2
df2

       0  1  2
one    2  2  2
two    2  2  2
three  2  2  2

In [14]:
df2 * 2

       0  1  2
one    4  4  4
two    4  4  4
three  4  4  4

In [18]:
df3 = DataFrame(np.ones((4,4), dtype='int32'), index=['one','two','three','four'])
df4 = df2 + df3
df4

         0    1    2   3
four   NaN  NaN  NaN NaN
one    3.0  3.0  3.0 NaN
three  3.0  3.0  3.0 NaN
two    3.0  3.0  3.0 NaN

In [25]:
# add() : 더하기
# sub() : 빼기
# mul() : 곱하기
# div() : 나누기

# fill_value=0 결측치는 0으로 계산
# df2:1 + df3:0 = 1
df4 = df2.add(df3, fill_value=0)
df4

         0    1    2    3
four   1.0  1.0  1.0  1.0
one    3.0  3.0  3.0  1.0
three  3.0  3.0  3.0  1.0
two    3.0  3.0  3.0  1.0

[중요]
# axis
## axis = 0
  - 행 방향 ( 열 단위 )
## axis = 1
  - 열 방향 ( 행 단위 )

In [26]:
print(df4)
df4.mean()

         0    1    2    3
four   1.0  1.0  1.0  1.0
one    3.0  3.0  3.0  1.0
three  3.0  3.0  3.0  1.0
two    3.0  3.0  3.0  1.0

0    2.5
1    2.5
2    2.5
3    1.0
dtype: float64

In [27]:
df4.mean(axis=1)

four     1.0
one      2.5
three    2.5
two      2.5
dtype: float64

문자열이 있는 데이타프레임의 연산

In [28]:
mydata = {
          'name':['홍길동','박길동','김길동'], 
          'age':[22,33,44], 
          'dept':['컴공','국어','산업']
         }
df = DataFrame(mydata)
df

  name  age dept
0  홍길동   22   컴공
1  박길동   33   국어
2  김길동   44   산업

In [29]:
df + 10 # 에러

TypeError: can only concatenate str (not "int") to str

In [30]:
df * 2 # 문자열은 반복, 숫자는 곱하기

     name  age  dept
0  홍길동홍길동   44  컴공컴공
1  박길동박길동   66  국어국어
2  김길동김길동   88  산업산업