In [1]:
# Series 연산
from pandas import Series

s1 = Series([10, 15, 20], index=['일','이','삼'])
s2 = Series([2,4,6,8], index=['일','이','삼','사'])

In [2]:
s3 = Series([1,2,3],index=['1줄','2줄','3줄'])

In [3]:
# DataFrame 연산

from pandas import DataFrame
import numpy as np

df1 = DataFrame(np.zeros((3,3), dtype='int32'), index=['one','two','three'])

In [4]:
df3 = DataFrame(np.ones((4,4), dtype='int32'), index=['one','two','three','four'])

문자열이 있는 데이타프레임의 연산

In [5]:
mydata = {
          'name':['홍길동','박길동','김길동'], 
          'age':[22,33,44], 
          'dept':['컴공','국어','산업']
         }