# apply() 함수
> 각 요소별 적용하는 함수

In [1]:
import pandas as pd

df = pd.DataFrame( {'a':[10,20,30], 'b':[2, 4, 6]})
df

    a  b
0  10  2
1  20  4
2  30  6

In [3]:
# 1. 함수 정의
def my_fun1(x):
    return x**2

def my_fun2(x, n):
    return x**n

my_fun1(3)
my_fun2(3, 3)

27

In [12]:
# 2. apply 함수를 이용하여 모든 데이타에 각각 함수 적용하기
# df.apply(my_fun1)

# 아래 df['a']의 데이터 타입은 DataFrame
# df['a'].apply(my_fun1)

# df.apply(my_fun2, n=3)
df['a'].apply(my_fun2, n = df['b']) # 결과 : 0제곱, 1제곱, 2제곱

     0       1          2
0  100   10000    1000000
1  400  160000   64000000
2  900  810000  729000000

In [22]:
# [연습] 데이타 프레임의 각 열 단위로 데이타의 합을 출력
def my_fun3(col):
    sum=0
    for i in col:
        sum += i
    return sum
print(df.apply(my_fun3))

print('---------------------------')

print(df.apply(my_fun3, axis=1)) # 열 방향

a    60
b    12
dtype: int64
---------------------------
0    12
1    24
2    36
dtype: int64

In [27]:
# 'a' 컬럼의 값이 10 이하는 'C', 20 이하는  'B', 30 이하는 'A'를 지정하고자 할 때
def func(score):
    grade = ''
    if( score <= 10) : grade='C'
    elif(score <= 20) : grade='B'
    elif(score <= 30) : grade='A'
    return grade

df['score'] = df['a'].apply(func)
df

    a  b score
0  10  2     C
1  20  4     B
2  30  6     A

In [30]:
df['a'].apply( lambda x : func(x) )

0    C
1    B
2    A
Name: a, dtype: object

## [연습]  고객의 결제정보에서 vip 선별

결재가 confirmed 된 상태이고 금액이 500원이상 구매한 고객들을 vip로 선별하고 그 외 고객들은 non-vip로 지정하여 grade 컬럼에 추가 저장한다.

In [62]:
import pandas as pd

# index_col : 지정한 컬럼을 Row Index로 사용한다.
customer = pd.read_csv('./data/customer.csv', index_col = "Name")
customer


def func(col):
    if( col['state'] == 'confirmed' and col['price'] >= 500 ): 
        grade = 'VIP'
    else:
        grade = 'non-vip'
    return grade

customer['grade'] = customer.apply(func, axis=1)
customer

            date  price      state    grade
Name
Kang  2017-01-01    500  confirmed      VIP
Kim   2017-01-03    700  confirmed      VIP
Choi  2017-01-03    900  confirmed      VIP
Park  2017-01-05    800  confirmed      VIP
Lee   2017-01-07    500   canceled  non-vip
Yoon  2017-01-09    700  confirmed      VIP
Jang  2017-01-09    600   canceled  non-vip
Ko    2017-01-10    200   canceled  non-vip