### 쉘모드 변경
+ esc > y : 코드모드
+ esc > m : markdown 모드

In [19]:
print('hello')

hello

# 서울 지하철 평균 이용객 수 분석
### 이용객 수가 많은 지하철은?
+ 강남
+ 판교
    - 성수
    - 합정

* (`*`)별표 하나는 번호 없는 목록

*별표로 감싸면 이탤릭*

**별표2개는 굵게**

***별표3개는 이탤릭볼드***

---

인용문으로 >
> 안녕하세요

<div align='center'>헬로우 월드</div>

<img src='./dataset/puppy.jpg'>

[링크걸기](http://www.daum.net)

이미지링크
[![](http://www.kyochon.com/uploadFiles/TB_SHOP/%EB%AF%B8%EA%B5%AD%20%EB%A7%A4%EC%9E%A5%20%EC%82%AC%EC%A7%84_%EC%88%98%EC%A0%95(1).jpg)](https://naver.com)

<table border='1'>
<tr>
    <th>1</th>
    <td>남궁광운</td>
</tr>
<tr>
    <th>2</th>
    <td>제갈광운</td>
</tr>

# <font color='red'>북조선인민공화국</font>

In [20]:
import pandas
p = pandas.read_csv('dataset/subway_data1.csv', encoding='utf-8')
p

    구 분      역명          총계      일평균
0   1호선     서울역  11,933,924  132,599
1   1호선     시청역   4,221,693   46,908
2   1호선     종각역   8,441,749   93,797
3   1호선   종로3가역   6,725,558   74,728
4   1호선   종로5가역   5,038,305   55,981
..  ...     ...         ...      ...
90  4호선     이촌역   1,792,511   19,917
91  4호선     동작역     523,615    5,818
92  4호선  총신대입구역   4,398,897   48,877
93  4호선     사당역   5,459,335   60,659
94  4호선    남태령역     206,457    2,294

[95 rows x 4 columns]